.login{
    width: 100vw;
    display: flex;
   
}
.login-form{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 20vw;
    display: block;
    margin-top: 10px;
    padding: 4px 1px;
}
.login-button{
    width: 20vw;
    background-color:rgba(95, 158, 160, 0.84);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 6px;
    font-size: 21px;
    border-radius: 5px;

}
.login-side-part{
    background-color:rgba(95, 158, 160, 0.84);
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-side-image{
   width: 30vw;
   height: 50vh;
   border-radius: 5px;
}